
 @font-face {
    font-family:'Roboto';
    src: url("assets/fonts/RobotoThin.ttf");
    font-weight: 100;
  }
  @font-face {
    font-family:'Roboto';
    src: url("assets/fonts/RobotoRegular.ttf");
    font-weight: 300;
  }

  * {
    box-sizing: border-box;
    border: solid none;
  }

  body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: Roboto;
    font-size: 16px;
  }

  .container {
    max-width: 1440px;
    margin: 0 auto;
  }

  .nav-list {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
  }

  .nav-item {
    padding: 0 10px;
    line-height: 50px;
    transition: .3s;
  }

  html {
    scroll-behavior: smooth; 
  }

  .main-container {
    display: flex;
    flex-wrap: wrap;
  }

  .section {
    width: 50%;
  }

 .section-profile{

    display: flex;    
    justify-content: center;
    border: solid red;
    width: 100%;
}

 .profile-photo{
     width: 15%;
 }

  .section-title {
    font-size: 26px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: orange;
  }

  .link {
    text-decoration: none;
    color: #514fc5;
    transition: color 0.5s;
  }
  
  .link:hover {
    color: orange;
  }